@keyframes topAnimation {
  from  { transform: translateY(-100%); }
  to    { transform: translateY(0); }
}

@keyframes rightAnimation {
  from  { transform: translateX(100%); }
  to    { transform: translateX(0); }
}

@keyframes bottomAnimation {
  from  { transform: translateY(100%); }
  to    { transform: translateY(0); }
}

@keyframes leftAnimation {
  from  { transform: translateX(-100%); }
  to    { transform: translateX(0); }
}

[data-exiting] .ariaDrawer[data-direction='top'] {
  animation: topAnimation 300ms reverse ease-in;
}

[data-exiting] .ariaDrawer[data-direction='right'] {
  animation: rightAnimation 300ms reverse ease-in;
}

[data-exiting] .ariaDrawer[data-direction='bottom'] {
  animation: bottomAnimation 300ms reverse ease-in;
}

[data-exiting] .ariaDrawer[data-direction='left'] {
  animation: leftAnimation 300ms reverse ease-in;
}

[data-entering] .ariaDrawer[data-direction='top'] {
  animation: topAnimation 300ms;
}

[data-entering] .ariaDrawer[data-direction='right'] {
  animation: rightAnimation 300ms;
}

[data-entering] .ariaDrawer[data-direction='bottom'] {
  animation: bottomAnimation 300ms;
}

[data-entering] .ariaDrawer[data-direction='left'] {
  animation: leftAnimation 300ms;
}
